.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color:  #393f4d;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #c2edda;
}
h2 {
  font-size: 3rem;
  color: #c2edda;
  font-family: 'Lobster';
}

p {
  font-size: 2rem;
  color: #c2edda;
  font-family: 'lobster';
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.button {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  
}